:root {
  --bg-color: #000f1f;
  --font-color: white;
  --secondary-color: #4c40ff;
  --accent-color: #fd3e81;
  --card-bg-color: #0a1929;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin-top: 0;
}

body {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  color: var(--font-color);
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

a {
  color: var(--font-color);
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    transparent 90%,
    var(--secondary-color) 0
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size 0.4s ease;
}

a:not(.active):not(.not-underline):hover,
.underline {
  background-size: 100% 100%;
  cursor: pointer;
}

aside {
  background-color: var(--card-bg-color);
  margin-left: -16px;
  margin-right: -16px;
  padding: 24px 32px;
  border-radius: 4px;
  border-left: 3px solid;
  border-color: var(--secondary-color);
}

strong {
  display: block;
  margin-bottom: 8px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.grids {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row: 200px;
  gap: 32px;
  margin-top: 32px;
}

@media only screen and (orientation: landscape) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
