html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin-top: 0;
}

body {
  background-color: #111111;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.introduction {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}

a {
  color: #fff;
  text-decoration: none;  
  background-image: linear-gradient(180deg,transparent 65%, #4c40ff 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;
}

a:not(.active):not(.not-underline):hover, .underline{
  /* transition: all 0.3s ease;
  transition-property: box-shadow, border-bottom;
  box-shadow: inset 0 -2px 0 0 #4c40ff; */
  background-size: 100% 100%;
  cursor: pointer;
}

.header-link {
  font-size: 3rem;
}

.active {
  color: #4c40ff;
  border-bottom: none;
  box-shadow: none;
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 32px;
}

.card {
  display: grid;
  overflow: hidden;
  line-height: 1.5;
  background-color: #2b2b2b;
  border-radius: 9px;
  
}

.card > a img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.card > header {
  padding: 24px;
}

.card > h2:first-child {
  margin: 0 0 0.5rem 0;
}

.card .post-tilte {
  font-size: 1.2rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
}